:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --main-header-text-color: #212121;
  --second-header-text-color: #757575;
  --second-accent-color: #188ce8;
  --second-section-color: #f5f4fa;
  --icon-color: #afb1b8;
  --footer-bg-color: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.backdrop {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  transition: opacity 250ms, visibility 250ms;
}

.backdrop.is-hidden .modal {
  transform: scale(1.5) rotate(180deg);
  transition: transform 500ms;
}

.modal {
  width: 528px;
  min-height: 581px;
  background-color: var(--main-title-color);
  border-radius: 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 40px;
  transform: scale(1) rotate(0);
  transform: translate(-50%, -50%);
  transition: transform 500ms;
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
  }
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--main-header-text-color);
}

.modal-form-input {
  padding-left: 42px;
  padding-right: 15px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

.modal-form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-form-input:focus + .input-icon {
  fill: var(--accent-color);
}

.form-input-text {
  margin-bottom: 4px;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.modal-check {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-check:checked + .check-text .check-item {
  background-color: var(--accent-color);
  border: none;
}

.modal-field {
  margin-bottom: 10px;
}

.input-wrap {
  position: relative;
}

.input-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms linear;
}

.modal-form-text {
  width: 100%;
  height: 120px;
  padding: 12px 16px 12px 16px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  resize: none;
}

.modal-form-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-text:focus {
  border-color: var(--accent-color);
  outline: none;
}

.modal-field-second {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

@media screen and (max-width: 1199px) {
  .check-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.check-item {
  margin-right: 7px;
  width: 16px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--main-header-text-color);
  border-radius: 2px;
}

.check-icon {
  display: flex;
  justify-content: center;
  fill: var(--main-btn-color);
}

.policy-link {
  color: var(--accent-color);
}

.modal-btn {
  display: block;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  border-radius: 4px;
  transition: color 250ms linear, background-color 250ms linear;
}

.modal-btn:hover {
  color: var(--main-btn-color);
  background-color: var(--second-accent-color);
}

.modal-btn:focus {
  color: var(--main-btn-color);
  background-color: var(--second-accent-color);
}

.mob-menu {
  position: fixed;
  background-color: #ffffff;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 5;
}

.mob-menu .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mob-menu__link {
  color: #212121;
}

.mob-menu-open {
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.mob-menu-open:hover {
  fill: var(--accent-color);
}

.mob-menu-open:focus {
  fill: var(--accent-color);
}

.mob-menu-close {
  display: block;
  margin-left: auto;
  margin-top: 21px;
  margin-bottom: 9px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
}

.mob-menu-close:hover {
  fill: var(--accent-color);
}

.mob-menu-close:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .mob-menu-open-icon {
    display: none;
  }
}

.mob-menu__item {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu__tel-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-menu__mailto {
  color: var(--main-text-color);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
}

.mob-menu__connect-item {
  margin-bottom: 32px;
}

.mob-menu__social-list {
  display: flex;
  margin-top: 64px;
}

.mob-menu__social-item:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mob-menu__social-link {
  color: var(--accent-color);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.mob-menu-bottom {
  margin-bottom: 48px;
}

.header {
  background: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.header__container {
  display: flex;
  justify-content: space-between;
}

.header__navigation {
  display: flex;
  align-items: center;
}

.header__web-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.header__Studio-logo {
  margin-right: 88px;
  color: var(--second-btn-color);
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: 50px;
}

.header__link {
  padding-top: 31px;
  padding-bottom: 31px;
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-header-text-color);
  transition: color 250ms linear;
}

.header__link:hover {
  color: var(--accent-color);
}

.header__link:hover::after {
  display: block;
  background-color: var(--accent-color);
  opacity: 1;
}

.header__link:focus {
  color: var(--accent-color);
}

.header__link.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  opacity: 1;
  transition: opacity 250ms var(--timing-function);
}

.current {
  color: var(--accent-color);
}

.header__connect-list {
  display: block;
  text-align: left;
  margin-left: 83px;
}

@media screen and (min-width: 1200px) {
  .header__connect-list {
    display: flex;
    margin-left: auto;
    align-items: center;
  }
}

.header__mailto {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
  transition: color 250ms linear;
}

@media screen and (min-width: 1200px) {
  .header__mailto {
    padding-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
}

.header__mailto:hover {
  color: var(--accent-color);
}

.header__mailto:focus {
  color: var(--accent-color);
}

.header__tel-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--second-header-text-color);
  transition: color 250ms linear;
}

@media screen and (min-width: 1200px) {
  .header__tel-link {
    margin-left: 50px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
}

.header__tel-link:hover {
  color: var(--accent-color);
}

.header__tel-.header__link:focus {
  color: var(--accent-color);
}

.header__connect-icon__mailto {
  fill: currentColor;
  align-items: center;
  margin-right: 10px;
}

.header__connect-icon__tel {
  fill: currentColor;
  align-items: center;
  margin-right: 10px;
}

@media screen and (max-width: 767px) {
  .header__works {
    display: none;
  }
}

.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-bg-mob-1x.jpg");
  background-color: #2f303a;
  padding-top: 118px;
  padding-bottom: 118px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-bg-mob-2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-bg-tab-1x.jpg");
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-bg-tab-2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-bg-1x.jpg");
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../image/hero/hero-bg-2x.jpg");
  }
}

.hero__container {
  max-width: 360px;
  margin-bottom: 30px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .hero__container {
    max-width: 696px;
  }
}

.hero__container-btn {
  width: 200px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.hero__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .hero__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
  }
}

.hero__btn {
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  border-radius: 4px;
  transition: color 250ms linear, background-color 250ms linear;
}

.hero__btn:hover {
  color: var(--main-btn-color);
  background-color: var(--second-accent-color);
}

.hero__btn:focus {
  color: var(--main-btn-color);
  background-color: var(--second-accent-color);
}

.benefits {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-btn-color);
}

@media screen and (min-width: 1200px) {
  .benefits {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 768px) {
  .benefits__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
  }
}

.benefits__item {
  width: 100%;
  margin-bottom: 30px;
}

.benefits__item:nth-child(n + 4) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .benefits__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
  .benefits__item:nth-child(n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .benefits__item {
    width: calc(100% / 4 - 30px);
    margin-bottom: 0;
  }
}

.benefits__item-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--second-section-color);
}

.benefits__title {
  margin-bottom: 10px;
  width: 100%;
  text-align: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}

@media screen and (min-width: 768px) {
  .benefits__title {
    text-align: left;
  }
}

.benefits__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.about {
  padding-bottom: 94px;
  background-color: var(--main-btn-color);
}

@media screen and (max-width: 1199px) {
  .works {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }
}

.about__title {
  margin-bottom: 50px;
  width: 377px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.about__container {
  text-align: center;
}

.about__list {
  display: flex;
}

.about__item {
  position: relative;
}

.about__item:not(:last-child) {
  margin-right: 30px;
}

.about__item-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.about__item-text {
  position: absolute;
  bottom: 0;
  padding-top: 27px;
  width: 370px;
  height: 70px;
  background: rgba(47, 48, 58, 0.8);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-btn-color);
}

.team {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-section-color);
}

@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__container {
  text-align: center;
}

.team__title {
  width: 100%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1200px) {
  .team__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 0.03em;
  }
}

.team__list {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__list {
    display: flex;
    flex-wrap: wrap;
  }
}

.team__item {
  margin-bottom: 30px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .team__item {
    width: calc(100% / 2 - 30px);
    margin-left: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .team__item {
    width: calc(100% / 4 - 30px);
  }
}

.team__item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.team__item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team__item-text {
  padding-top: 10px;
  margin-bottom: 16px;
}

.team__item-img {
  display: block;
  max-width: 100%;
  height: auto;
}

.team__card-image {
  display: block;
  padding-top: 30px;
  padding-bottom: 24px;
  width: 100%;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: var(--main-title-color);
  box-shadow: 0px 2px rgba(0, 0, 0, 0.2), 0px 1px rgba(0, 0, 0, 0.14), 0px 1px rgba(0, 0, 0, 0.12);
}

.team__social-list {
  display: flex;
  justify-content: center;
}

.team__social-item {
  width: 44px;
  height: 44px;
}

.team__social-item + .team__social-item {
  margin-left: 10px;
}

.team__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--icon-color);
}

.team__social-link:hover {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.team__social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.team__social-icon {
  fill: currentColor;
}

.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-btn-color);
}

@media screen and (min-width: 1200px) {
  .customers {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.customers__title {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  letter-spacing: 100%;
  color: var(--second-title-color);
}

@media screen and (min-width: 1200px) {
  .customers__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    letter-spacing: 100%;
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customers__item {
  display: flex;
  margin-bottom: 30px;
}

.customers__item:nth-child(n + 5) {
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .customers__item:nth-child(n + 4) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1200px) {
  .customers__item {
    margin-bottom: 0;
  }
}

.customers__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
}

@media screen and (min-width: 768px) {
  .customers__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers__link {
    width: 170px;
  }
}

.customers__link:hover {
  padding: 16px 32px 16px 32px;
  background-color: var(--main-title-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.customers__link:focus {
  padding: 16px 32px 16px 32px;
  background-color: var(--main-title-color);
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.customers__svg {
  display: flex;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--footer-bg-color);
}

@media screen and (min-width: 768px) {
  .footer__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: baseline;
  }
}

.footer__container-address {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__container-address {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__container-link {
  margin-bottom: 60px;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__container-link {
    text-align: left;
    margin-bottom: 0;
  }
}

.footer__web-logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.footer__Studio-logo {
  color: var(--main-title-color);
}

.footer__address {
  margin-top: 20px;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer__link:hover {
  color: var(--accent-color);
}

.footer__link:focus {
  color: var(--accent-color);
}

.footer__container-link__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  vertical-align: Top;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .footer__container-link__title {
    text-align: left;
  }
}

.footer__mailto {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer__mailto:hover {
  color: var(--accent-color);
}

.footer__mailto:focus {
  color: var(--accent-color);
}

.footer__tel {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.footer__tel:hover {
  color: var(--accent-color);
}

.footer__tel:focus {
  color: var(--accent-color);
}

.footer__social-list {
  display: flex;
  justify-content: center;
}

.footer__social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  color: var(--main-title-color);
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__social-link:hover {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.footer__social-link:focus {
  background-color: var(--accent-color);
  color: var(--main-title-color);
}

.footer__social-item {
  margin-top: 20px;
  width: 44px;
  height: 44px;
}

.footer__social-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social-icon {
  fill: currentColor;
}

.footer__container-subscription {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .footer__subscription {
    display: flex;
  }
}

.footer__subscription-title {
  display: block;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-title-color);
}

@media screen and (min-width: 1200px) {
  .footer__subscription-title {
    text-align: left;
  }
}

.footer__subscription-text {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  width: 450px;
  padding-left: 16px;
  color: var(--main-btn-color);
  background-color: var(--footer-bg-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .footer__subscription-text {
    width: 358px;
  }
}

.footer__subscription-text::placeholder {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer__subscription-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 200px;
  height: 50px;
  padding: 0;
  border: 0;
  cursor: pointer;
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-btn-color);
  border-radius: 4px;
  transition: color 250ms linear, background-color 250ms linear;
}

@media screen and (min-width: 1200px) {
  .footer__subscription-btn {
    margin-left: 12px;
  }
}

.footer__subscription-btn:hover {
  color: var(--main-btn-color);
  background-color: var(--second-accent-color);
}

.footer__subscription-btn:focus {
  color: var(--main-btn-color);
  background-color: var(--second-accent-color);
}

.footer__subscription-icon {
  margin-left: 10px;
  fill: currentColor;
}

.studio {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-btn-color);
}

@media screen and (min-width: 1200px) {
  .studio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.studio-container {
  display: block;
}

@media screen and (min-width: 768px) {
  .studio-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.studio-list-btn {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .studio-list-btn {
    justify-content: center;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .studio-list-btn {
    justify-content: center;
    margin-bottom: 50px;
  }
}

.studio-item {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .studio-item {
    width: 354px;
    margin-right: 30px;
  }
  .studio-item:nth-child(n + 9) {
    margin-bottom: 0;
  }
  .studio-item:nth-child(2n + 2) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .studio-item {
    width: 370px;
  }
  .studio-item:nth-child(n + 7) {
    margin-bottom: 0;
  }
  .studio-item:nth-child(2n + 2) {
    margin-right: 30px;
  }
  .studio-item:nth-child(3n + 3) {
    margin-right: 0;
  }
}

.studio-item:hover .studio-item-text {
  transform: translateY(0);
}

.studio-link {
  display: block;
}

.studio-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.studio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.studio-item-wrap {
  position: relative;
  overflow: hidden;
  height: 294px;
}

.studio-item-text {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--main-title-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px 63px 24px;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms var(--timing-function);
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.studio-item-img {
  height: 294px;
}

.studio-item-btn {
  margin-bottom: 15px;
  display: flex;
}

.studio-item-btn:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .studio-item-btn {
    margin-bottom: 0;
  }
}

.studio-btn {
  display: flex;
  padding: 6px 22px 6px 22px;
  border-style: none;
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
  transition: color 250ms linear, background-color 250ms linear;
}

.studio-btn:hover {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.studio-btn:focus {
  color: var(--main-btn-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.studio-card-image {
  padding: 20px 24px 20px 24px;
  border: 1px solid #ececec;
  border-top: none;
  background-color: var(--main-title-color);
}

.studio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}

.studio-text {
  margin-bottom: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/*# sourceMappingURL=main.css.map */