.customers {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-btn-color);
  @media screen and (min-width: 1200px) {
  padding-top: 94px;
  padding-bottom: 94px;
  }
}

.customers__title {
  text-align: center;
  margin-bottom: 30px;
  @include font(700, 28px, 1.17, 100%);
  color: var(--second-title-color);

  @media screen and (min-width: 1200px) {
    margin-bottom: 50px;
    @include font(700, 36px, 1.17, 100%);
  }
}

.customers__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.customers__item {
  display: flex;
  margin-bottom: 30px;
  &:nth-child(n + 5) {
    margin-bottom: 0;
  }
  @media screen and (min-width: 768px) {
    &:nth-child(n + 4) {
    margin-bottom: 0;
    }
  }
  @media screen and (min-width: 1200px) {
    margin-bottom: 0;
  }
}

.customers__link {
  @include flex;
  width: 210px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icon-color);
  
  @media screen and (min-width: 768px) {
    width: 226px;
    }
  
  @media screen and (min-width: 1200px) {
    width: 170px;
  }
  &:hover {
    padding: 16px 32px 16px 32px;
    background-color: var(--main-title-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
  &:focus {
    padding: 16px 32px 16px 32px;
    background-color: var(--main-title-color);
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.customers__svg {
  display: flex;
  width: 106px;
  height: 60px;
  fill: currentColor;
}
