@mixin flex() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-min() {
  display: flex;
  align-items: center;
}

@mixin font($fw, $fz, $lh, $ls) {
  font-weight: $fw;
  font-size: $fz;
  line-height: $lh;
  letter-spacing: $ls;
}

@mixin flex-text() {
  display: flex;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
