:root {
  --main-title-color: #ffffff;
  --second-title-color: #212121;
  --main-text-color: #757575;
  --second-text-color: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --main-btn-color: #ffffff;
  --second-btn-color: #212121;
  --main-header-text-color: #212121;
  --second-header-text-color: #757575;
  --second-accent-color: #188ce8;
  --second-section-color: #f5f4fa;
  --icon-color: #afb1b8;
  --footer-bg-color: #2f303a;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
